.select {
  $root: &;

  position: relative;
  z-index: 22;

  &__selected {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__selected-right {
    display: flex;
    align-items: center;
  }

  &__selected-icon {
    height: 5px;
    width: 8px;
    transition: 0.3s ease;
  }


  &__body {
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    left: 0;
    backdrop-filter: blur(30px) brightness(0.7);
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba($light-green, 0.4);
    height: 0px;
    transition: 0.4s ease;
  }

  &__items {
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.5s ease;
  }

  &__item {
    padding: 13px 24px;
    font-size: 14px;
    letter-spacing: -0.35px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    transition: 0.3s ease;

    &:hover {
      background-color: #2F2F2F;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
  }

  &__tag {
    font-size: 10px;
    line-height: 12px;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 3px 9px;
    width: 38px;
    text-align: center;
    cursor: pointer;
    margin-left: 11px;

    &.is-active {
      background: $light-green;
      border-color: $light-green;
    }
  }

  &.is-active {
    #{$root}__items {
      transform: translateY(0);
      opacity: 1;
    transition-delay: 0.2s;

    }
  }

  &__item-checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid $white;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;

    &::before {
      content: "\2713";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      color: $white;
      opacity: 0;
      transition: 0.3s ease;
    }

    &.is-checked {
      border-color: $light-green;
      background-color: $light-green;

      &::before {
        opacity: 1;
      }
    }
  }
}
