.block-footer {
  $root: &;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 28px;
  background: $black;

  @include media-breakpoint-down(md) {
    padding-top: 55px;
  }

  &__container {
    @include make-container();
    max-width: 1265px + $grid-gutter-width;

    @include media-breakpoint-down(md) {
      max-width: 607px;
    }
  }

  &__row {
    @include make-row();
    justify-content: space-between;
  }

  &__col {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      &--left {
        @include make-col(4.8);
      }

      &--right {
        @include make-col(6);
      }
    }
  }

  &__left {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding-left: 7px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 43px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
    }
  }


  &__brand {
    color: $white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &__copyright {
    font-size: 9px;
    color: $white;
    letter-spacing: 0.6px;
    padding-bottom: 12px;

    &--mobile {
      display: none;
    }

    @include media-breakpoint-down(md) {
      display: none;

      &--mobile {
        display: block;
        font-size: 14px;
        padding-bottom: 12px;
        padding-left: 6px;
        letter-spacing: .7px;
        color: rgba($white, 0.5);
      }
    }
  }


  &__ctas {
    display: flex;
    flex-direction: column;
    margin-right: 66px;
    list-style: none;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      margin-right: 108px;
    }
  }

  &__cta {
    font-size: 13px;
    color: #F7F7F7;
    line-height: 28px;
    transition: 0.3s ease;

    &:hover {
      color: $red;
      text-decoration: none;
    }

    @include media-breakpoint-down(md) {
      line-height: 10px;
      margin-bottom: 18px;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      margin-top: 7px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    &:hover {
      text-decoration: none;

      #{$root}__social-icon svg path {
        fill: $red;
      }

      #{$root}__social-text {
        color: $red;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 13px;
    }
  }

  &__social-icon {
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      transition: 0.3s ease;
    }
  }

  &__social-text {
    font-size: 13px;
    line-height: 13px;
    color: #F7F7F7;
    transition: 0.3s ease;
    margin-left: 7px;
    margin-top: 1px;
    transition: 0.3s ease;
  }

  &__newsletter {
    display: block;

    &--mobile {
      display: none;
    }

    @include media-breakpoint-down(md) {
      display: none;

      &--mobile {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__newsletter-title {
    font-size: 13px;
    color: $white;
    margin-bottom: 9px;
  }

  &__newsletter-form-group {
    display: flex;
    align-items: stretch;
  }

  &__newsletter-input {
    padding: 7px 14px 9px 14px;
    border: none;
    background: #000;
    font-size: 13px;
    line-height: 17px;
    border-radius: 5px 0 0 5px;
    border: 1px solid $white;
    color: $white;
    width: 181px;

    &:focus {
      outline: none;
    }

    &:placeholder {
      color: #3d3d3d;
    }
  }

  &__newsletter-btn {
    width: 53px;
    flex: 0 0 auto;
    background-color: $white;
    outline: none;
    border: none;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    color: $light-green;
    border-radius: 0 5px 5px 0;
    transition: 0.3s ease;

    &:hover {
      color: $red;
    }

    &:focus {
      outline: none;
    }
  }

  &__address {
    max-width: 203px;
    width: 100%;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    margin-left: 134px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      max-width: 200px;
      line-height: 16px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 55px;

    &__left {
      flex-wrap: wrap;
    }

    &__logo, &__ctas, &__socials {
      flex: 0 0 100%;
    }

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__ctas {
      align-items: center;
      margin-right: 0;
      margin-top: 50px;
    }

    &__cta {
      font-size: 22px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__socials {
      flex-direction: row;
      justify-content: center;
      margin-top: 65px;
      justify-content: space-between;
      padding-right: 21px;
      padding-left: 11px;
    }

    &__social-text {
      display: none;
    }

    &__social-icon {
      width: 25px;
      height: 25px;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    &__right {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__address{
      text-align: center;
      font-size: 18px;
      max-width: 290px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    &__newsletter--mobile {
      margin-top: 25px;
      text-align: center;
    }

    &__newsletter-title {
      font-size: 19px;
      margin-bottom: 13px;
    }

    &__copyright--mobile {
      font-size: 18px;
    }
  }
}
