.block-contact {
  padding-top: 181px;
  padding-bottom: 165px;
  background-color: $white;

  &__container {
    @include make-container();
    max-width: 955px + $grid-gutter-width;

    @include media-breakpoint-down(md) {
      max-width: 366px + $grid-gutter-width;
    }
  }

  &__row {
    @include make-row();
    align-items: center;
  }

  &__col {
    @include make-col-ready();



    @include media-breakpoint-up(lg) {
      @include make-col(12 / 5.085)
    }

    @include make-col(12 / 2);

    @include media-breakpoint-down(md) {
      &--md-full {
        @include make-col(12);
      }
    }
  }

  &__title {
    font-size: 57px;
    line-height: 59px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: $light-green;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 131px;
    padding-bottom: 109px;

    &__container {
      padding-left: 19px;
      padding-right: 4px;
    }

    &__row {
      margin-left: -7px;
      margin-right: -7px;
    }

    &__col {
      padding-left: 7px;
      padding-right: 7px;
    }

    &__title {
      margin-top: 26px;
      font-size: 102px;
      line-height: 95px;
      letter-spacing: 2.24px;
    }
  }
}
