.block-contact {
  padding-top: 181px;
  padding-bottom: 165px;
  background-color: $white;

  &__container {
    @include make-container();
    max-width: 955px + $grid-gutter-width;
  }

  &__row {
    @include make-row();
    align-items: center;
  }

  &__col {
    @include make-col-ready();
    @include make-col(12 / 5.085)
  }

  &__title {
    font-size: 57px;
    line-height: 59px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: $light-green;
    }
  }
}
