.header {
  padding-top: 20px;
  position: relative;
  z-index: 2;

  &__container {
    @include make-container();
    max-width: 1295px + $grid-gutter-width;
    position: relative;
  }

  @include media-breakpoint-down(md) {
    padding-top: 14px;

    &__container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
