.main-navbar {
  $root: &;

  background: $white;
  border-radius: 5px;
  box-shadow: 0 3px 30px #00000033;
  padding: 21px 29px 21px 28px;
  position: relative;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    margin-left: 230px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 500px;
    letter-spacing: 0.60px;
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__left {
    display: flex;
  }

  &__search-wrapper {
    position: relative;
  }

  &__search-input {
    width: 130px;
    height: 28px;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s;
    letter-spacing: 0.13px;
    padding-left: 10px;
    padding-right: 22px;

    &:focus {
      outline: none;
      border: 1px solid #DDDDDD;
    }

    &::placeholder {
      color: #DDDDDD;
      font-size: 13px;
    }
  }

  &__search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1px;
    cursor: pointer;
  }

  &__menu-toggler {
    position: relative;
    width: 23px;
    height: 18px;
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #DDDDDD;
      border-radius: 2px;
      display: block;
      transition: 0.3s ease;
      transform-origin: center;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
        width: 15px;
      }
    }
  }

  &__menu {
    &.is-active {
      #{$root}__menu-toggler {
        span {
          &:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 5px);
          }

          &:nth-child(2) {
            transform: translateY(-50%) rotate(45deg);
          }

          &:nth-child(3) {
            width: 0px;
          }
        }
      }
    }
  }

  &__menu-body {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: rgba($white, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    z-index: 99;
    overflow: hidden;
    height: 0px;
    transition: 00.3s ease-in;
  }

  &__menu-inner {
    width: 300px;
    padding: 20px;
  }

  &__menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-item {
    margin-bottom: 10px;

    &--dropdown {
      cursor: pointer;

      #{$root}__menu-link {
        pointer-events: none;
      }
    }
  }

  &__menu-icon {
    transition: 0.3s ease;
  }

  &__menu-link {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease-in;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }

  &__dropdown-items {
    overflow: hidden;
    height: 0px;
    transition: 0.3s ease-in;
  }

  &__dropdown-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__dropdown-link {
    color: $grey;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    transition: 0.1s ease-in;

    &:hover {
      text-decoration: none;
      color: $red;
    }
  }

  &__menu-search {
    width: 100%;
    position: relative;
  }

  &__menu-search-input {
    width: 100%;
    border: 1px solid $grey;
    background-color: transparent;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    padding-right: 40px;

    &:focus {
      outline: none;
    }
  }

  &__menu-search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      fill: $grey;
    }
  }

  @include media-breakpoint-down(md) {
    .lng-switch {
      display: none;
    }

    &__brand {
      margin-left: 0;
    }

    &__search-input {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;

      &:hover {
        opacity: 1;
      }

      // width: 0px;
    }
  }

}
