.block-change {
  padding: {
    top: 53px;
    bottom: 48px;
  }

  background: $light-green;

  &__container {
    @include make-container($gutter: 35px);
    max-width: 319px + 35px;

    @include media-breakpoint-up(lg) {
      max-width: 670px + 35px;
    }
  }

  &__title {
    font-size: 53px;
    line-height: 59px;
    letter-spacing: 0;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;

    span {
      display: block;
      color: $black;
    }
  }

  &__sub {
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 34px;

    @include media-breakpoint-up(lg) {
      padding-right: 12px;
    }
  }


  &__form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -17.5px;
    margin-left: -17.5px;
  }

  &__form-col {
    @include make-col-ready($gutter: 35px);

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    &--full {
      @include make-col(12);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2px;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    width: 100%;

    &--select {
      margin-bottom: 41px;
    }

    &--switch {
      margin-bottom: 10px;
    }

    &--mb-14 {
      margin-bottom: 14px;
    }
  }

  &__input-label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    color: $white;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 13px 21px;
    box-shadow: -.25rem -.25rem .5rem rgba(#fff, .07),
      .25rem .25rem .5rem rgba(#000, .12),
      -.75rem -.75rem 1.75rem rgba(#fff, .06),
      .75rem .75rem 1.75rem rgba(#000, .10),
      inset 8rem 8rem 8rem rgba(#000, .02),
      inset -8rem -8rem 8rem rgba(#fff, .02);
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    transition: 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0px 20px #00000029;
    }

    &::placeholder {
      color: rgba(#969696, 0.47);
    }

    &--message {
      &::placeholder {
        display: none;
      }
    }
  }

  &__form-btn {
    padding: 16px 58px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    line-height: 17px;
    color: $light-green;
    background-color: $white;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 15px;
    box-shadow: 0 3px 6px #00000029;
    transition: 0.3s ease;

    &:hover {
      box-shadow: 0 0px 6px #00000029;
    }

    &:focus {
      outline: none;
    }
  }

  &__file-input-group {
    position: relative;
    width: 100%;
    border: 2px dashed $white;
    border-spacing: 5px;
    border-radius: 8px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
  }

  &__file-input-label {
    margin-bottom: 0;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.1px;
  }

  &__file-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  @include media-breakpoint-down(md) {
    padding-top: 73px;
    padding-bottom: 82px;

    &__title {}

    &__sub {
      letter-spacing: 0.5px;
      margin-bottom: 46px;
    }

    &__input {
      padding: 16px 27px;

      &--message {
        padding: 20px 27px;

        &::placeholder {
          display: block;
        }
      }
    }

    &__input-group {
      margin-bottom: 23px;

      &--switch {
        margin-bottom: 13px;
      }

      &--mb-14 {
        margin-bottom: 13px;
      }
    }

    &__file-input-group {
      height: 55px;
      margin-top: -5px;
    }

    &__form-btn {
      width: 100%;
      padding: 18px 58px;
    }

    &__input-label {
      &--message {
        display: none;
      }
    }
  }
}
