.block-change {
  padding: {
    top: 50px;
    bottom: 48px;
  }

  background: $light-green;

  &__container {
    @include make-container();
    max-width: 724px;
  }

  &__title {
    font-size: 53px;
    line-height: 59px;
    letter-spacing: 0;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4px;

    span {
      display: block;
      color: $black;
    }
  }

  &__sub {
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 34px;
  }

  &__form {

  }

  &__form-row {
    width: 100%;
    display: flex;
    margin-left: - $grid-gutter-width / 2;
    margin-right: - $grid-gutter-width / 2;
  }

  &__form-col {
    @include make-col-ready();
    @include make-col(6);

    &--full {
      @include make-col(12);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    width: 100%;
  }

  &__input-label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    color: $white;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 13px 21px;
    box-shadow: -.25rem -.25rem .5rem rgba(#fff,.07),
    .25rem .25rem .5rem rgba(#000,.12),
    -.75rem -.75rem 1.75rem rgba(#fff,.06),
    .75rem .75rem 1.75rem rgba(#000,.10),
    inset 8rem 8rem 8rem rgba(#000,.02),
    inset -8rem -8rem 8rem rgba(#fff,.02);
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    transition: 0.3s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0px 20px #00000029;
    }

    &::placeholder {
      color: rgba(#969696, 0.47);
    }
  }

  &__form-btn {
    padding: 16px 58px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.17px;
    line-height: 17px;
    color: $light-green;
    background-color: $white;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 25px;
    box-shadow: 0 3px 6px #00000029;
    transition: 0.3s ease;

    &:hover {
    box-shadow: 0 0px 6px #00000029;
    }

    &:focus {
      outline: none;
    }
  }
}
