.apply-card {
  $root: &;

  width: 100%;
  border-radius: 10px;
  display: flex;
  min-height: 273px;
  overflow: hidden;
  box-shadow: 0 3px 40px #00000026;

  &__left {
    @include make-col(6);
    position: relative;
  }

  &__content {
    @include make-col(6);
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    background: $white;
    padding: 30px 58px 30px 49px;
  }

  &__title {
    font-size: 30px;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 35px;
    letter-spacing: 0.6px;
    font-weight: 500;
  }

  &__sub {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.14px;
    height: 70px;
    overflow: hidden;
    color: #717171;
    margin-bottom: 7px;
  }

  &__cta {
    font-size: 14px;
    display: flex;
    align-items: center;

    &, &:hover {
      color: $red;
      text-decoration: none;
    }
  }

  &__cta-icon {
    margin-left: 8px;
  }

  &__btns {
    margin-top: 17px;
    display: flex;
  }

  &__btn {
    width: 164px;
    margin-right: 11px;
    font-size: 11px;
    letter-spacing: 0.44px;
    line-height: 13px;
    padding: {
      top: 14px;
      bottom: 13px;
    }
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s ease;

    &:hover {
      text-decoration: none;
    }

    &--green {
      color: $white;
      background-color: $light-green;
      border: 1px solid $light-green;

      &:hover {
        color: $light-green;
        background-color: $white;
      }
    }

    &--outline {
      color: #969696;
      border: 1px solid #969696;

      &:hover {
        color: $white;
        background-color: #969696;
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    #{$root}__content{
      padding: 41px 58px 38px 52px;
    }
  }

  @include media-breakpoint-down(md) {
    min-height: 419px;

    &__content {
      padding: 32px 31px 29px 33px;
    }

    &__title {
      font-size: 25px;
      line-height: 33px;
    }

    &__sub {
      height: 170px;
    }

    &__btns {
      flex-wrap: wrap;
    }

    &__btn {
      width: 100%;
      margin-right: 0;
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
