.block-apply {
  padding: {
    top: 78px;
    bottom: 78px;
  }

  background: $light-green;

  &__container {
    @include make-container();
    max-width: 1145px + $grid-gutter-width;
  }

  .apply-card:first-child {
    margin-bottom: 69px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 70px;
    padding-bottom: 69px;


    .apply-card:first-child {
      margin-bottom: 71px;
    }

    &__container {
      max-width: 587px + $grid-gutter-width;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 67px;
    padding-bottom: 83px;

    .apply-card:first-child {
      margin-bottom: 50px;
    }

    &__container {
      max-width: 344px + $grid-gutter-width;
    }
  }
}
